<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="footer-title">Yogendra</h5>
        <p class="footer-description">Angular Developer, JavaScript Enthusiast, Engineer with a Story</p>
        <div class="social-links">
          <a href="#" class="social-link" aria-label="GitHub">
            <i class="fab fa-github"></i>
          </a>
          <a href="#" class="social-link" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#" class="social-link" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
      
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="footer-title">Quick Links</h5>
        <ul class="footer-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/personal">Personal</a></li>
          <li><a routerLink="/professional">Professional</a></li>
          <li><a routerLink="/hobbies">Hobbies</a></li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h5 class="footer-title">Contact</h5>
        <ul class="footer-contact">
          <li>
            <mat-icon>email</mat-icon>
            <span>yogendra@example.com</span>
          </li>
          <li>
            <mat-icon>location_on</mat-icon>
            <span>Bengaluru, India</span>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="copyright">
        &copy; {{ currentYear }} Yogendra. All rights reserved.
      </div>
      <div class="made-with">
        Made with <span class="heart">❤</span> using Angular
      </div>
    </div>
  </div>
</footer>
