.task-list{

    .filter{
        display: flex;

        input{
            width: 70%;
        }
        button{
            width: 30%;
        }
    }

    .task-list-item{
        background-color: white;
        border-radius: 10px;
        padding:10px;
        border: 1px solid grey;
        margin-top: 4px;
        cursor: pointer;
        &:hover{
            background-color: #f4f4f4;
        }
    }
    .task-title{
        font-weight: bold;
        font-size: 1rem;
    }
}