<div
  class="task-list"
 
>
    <div class="addtaskBtn">
        <button class="btn btn-info addbtn" (click)="openAddTaskPopup()"> + Add Task</button>
    </div>
    <div class="filter">
        <input type="text" class="form-control" name="searchTask" [(ngModel)]="searchTask"><button class="btn btn-primary" (click)="searchTaskFn()">search</button>
    </div>
    <div class="task-list-item" *ngFor="let task of taskServ.$myTaskList|async" (click)="selectTask(task)" >
        <div class="task-title">
            {{task.title}}
        </div>
        <div class="task-des">
            {{task.description}}
        </div>
    </div>
   
</div>