.task-main-container{
    height: 100vh;
    display: flex;
    align-items: center;

    .task-list-container{
        height: 100%;
        background-color: lightgrey;
        width: 40%;
        padding: 10px;   
    }
    .task-overview-container{
        text-align: center;
        padding: 10px;   
    }
}